body {
  background-color: #fef6e4;
    font-family: monospace;
    
}
.navigation{
    background-color:#f3d2c1;
}
.nav-link a.items {
    color:#172c66;
}
.title{
    font-size: 50px;
    text-align: center;
    color:#172c66;
}


.item_div {
    width: 10%;
    height: 10%;
 

   
}

.text-left p {
   
    font-size: 25px;
    padding-top: 5%;
    color: rgb(122, 220, 220);
   text-align: justify;
}
.text-left h1{
    color: rgb(127, 165, 219);
     text-align: center;
      font-size: 55px;
      padding-top: 5%;
}

.item_div img {
    width: 85%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    object-fit: cover;
  
}


#Education p {
    font-size: 40px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Education .item  {
    align-items: center;
    color:#172c66;

}

#Education .item .list {
    font-size: 35px;
    align-items: center;
    background-color: #fef6e4;
    border: mediumorchid;
}

#Experience p{
    font-size: 40px;
}


.prog{
    font-size: 40px;
}